dig-shop.duckdns.org {
    handle /api/contact* {
        reverse_proxy api:3001
    }
    handle /api/* {
        reverse_proxy shop:8000
    }
    handle /media/* {
        reverse_proxy shop:8000
    }
    handle /static/* {
        reverse_proxy shop:8000
    }
    handle /admin/* {
        reverse_proxy shop:8000
    }
    handle /* {
        reverse_proxy app:80
    }
}